Harkon.tar.gz filter=lfs diff=lfs merge=lfs -text
BxB1100_999_54_2017.tar.gz filter=lfs diff=lfs merge=lfs -text
Octo.tar.gz filter=lfs diff=lfs merge=lfs -text
Gf12345_12111222_457_15.gz filter=lfs diff=lfs merge=lfs -text
